<div class="container ">
    <!-- [style.color]="cardStyleProp.color"
     [style.background-color]="cardStyleProp.backgroundColor" -->
     <!-- *ngFor="let item of userList" -->
     <!-- 'background-color':cardStyleObj.backgroundColor,  -->
    <div class="card mt-5 mb-5" 
        [ngStyle]="{
            'background': cardStyleObj.background,
            'color': cardStyleObj.color,
            'width':cardStyleObj.width,
            'height':cardStyleObj.height,
            'border-radius':cardStyleObj.borderRadius,
            'box-shadow':cardStyleObj.boxShadow,
            'font-family':cardStyleObj.fontFamily,
             'margin':cardStyleObj.Margin}">
        <div class="card-body">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
            <h5 class="card-title">Ansar Ameer</h5>

            <div class="marker">
                <i class="fa fa-map-marker"></i>
                <p>Shadman city phase 2</p>
            </div>
            <div class="phone">
                <i class="fa fa-phone"></i>
                <p>03118654298</p>
            </div>
            <div class="globe">
                <i class="fa fa-globe"></i>
                <p>www.myPortfolio.com</p>
            </div>
        </div>

    </div>


    <div class="card mt-5 mb-5" 
        [ngStyle]="{
            'background': cardStyleFr.background,
            'color': cardStyleFr.color,
            'width':cardStyleFr.width,
            'height':cardStyleFr.height,
            'border-radius':cardStyleFr.borderRadius,
            'box-shadow':cardStyleFr.boxShadow,
            'font-family':cardStyleFr.fontFamily,
             'margin':cardStyleFr.Margin}">
        <div class="card-body-two">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
            <h5 class="card-title">Ansar Ameer</h5>
            
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="container-two">
        <div class="card-two"
        >
            <div class="card-body-two">
                <h5 class="card-title">Ansar Ameer</h5>
                <i style="border: 1px solid #f4bb53bf;
                border-radius: 9px;" class="fa fa-snowflake-o"></i>
            </div>
        </div>
    </div>
</div> -->