
<div class="container ">
<div  class="card mt-5" *ngFor="let item of userDataList">
   
    <div class="card-body">
      
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      <h5 class="card-title">{{item.name}}</h5>
    </div>
    <div class="marker">
        <i class="fa fa-map-marker" ></i>
        <p> {{item.location}}</p>
    
    </div>
    <div class="phone">
        <i class="fa fa-phone" ></i>
        <p>{{item.phone_number}}</p>

    </div>
    <div class="globe">
        <i class="fa fa-globe"></i>

        <p>{{item.web_address}} </p>
    </div>
  </div>
  </div>
  



  <div class="container">
<div class="container-two">
    <div class="card-two">
       
        <div class="card-body-two">
            <h5 class="card-title">Ansar Ameer</h5>
            <i style="border: 1px solid #f4bb53bf;
            border-radius: 9px;" class="fa fa-snowflake-o"></i>
          </div>
      
      </div>
      </div>
      </div>
      
    
    
    
    
    
    
    
    
    
    
      